[Desktop Entry]
Encoding=UTF-8
Name=yotoken
Comment=yotoken P2P Cryptocurrency
Comment[fr]=yotoken, monnaie virtuelle cryptographique pair à pair
Comment[tr]=yotoken, eşten eşe kriptografik sanal para birimi
Exec=yotoken-qt %u
Terminal=false
Type=Application
Icon=yotoken128
MimeType=x-scheme-handler/yotoken;
Categories=Office;Finance;