[Unit]
Description=yotoken's distributed currency daemon
After=network.target

[Service]
User=yotoken
Group=yotoken

Type=forking
PIDFile=/var/lib/yotokend/yotokend.pid

ExecStart=/usr/bin/yotokend -daemon -pid=/var/lib/yotokend/yotokend.pid \
          -conf=/etc/yotoken/yotoken.conf -datadir=/var/lib/yotokend

ExecStop=-/usr/bin/yotoken-cli -conf=/etc/yotoken/yotoken.conf \
         -datadir=/var/lib/yotokend stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target